body{
    padding-top: 2em;
    text-align: center;
    margin: auto;
    width: 500px;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
li.fields {
    margin: 0%;
    padding: 1em 0 ;
}
li.title {
        cursor: pointer;
        background: #eee; 
        line-height: 2em;
        font-size: 1.5em;
        font-weight: bold;
        border-bottom: 1px solid #c5c5c5;
        border-top: 1px solid white;
}
.hide {
    display: none;
}